<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="About The Ultimo, About Us, Alabaster Sheets, Acrylic Sheets, Charcol Panels">
    <title>About Us | The Ultimo</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">

</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i> +804 304 60 27</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/static/images/logo.png" width="115" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li ><a href="../">Home</a></li>
                        <li class="active"><a href="../about/">About Us</a></li>
                        <li ><a href="../product/">Product</a></li>
                        
                        <li><a href="contact-us.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="about-us">
        <div class="container">
			<div class="wow fadeInDown">
				<h2 class="">About Ultimo</h2>
				<p>Incepted in the year of 2015 , Royal Trade Links is a leading wholesaler, trader and importer thoroughly engrossed in offering a wide 

variety of products to our customers such as Alabaster Sheets, Acrylic Sheets, Charcoal Panels and many more. Made underneath the command 

of dexterous personnel, these offered products are widely recommended and accepted amid our customers. Also, these go through a series of 

quality tests to deliver a defect free consignment at the premises of our customers.
</p>
				<p > 
					We are supported by an acclaimed crew of executives to offer to our patrons a huge variety of goods. All our goods are hired after stern 

check of their skills and information. Along with this, their vast knowledge in this domain and ability to modify these products as per the 

varying clienteles’ needs have made us a leading business name. Along with this, regular training sessions are planned in our organization 

to keep them in pace with the modern development staking place in the market. From the day of our development, we are working under the 

command of our mentor Mr. Akash Gelda. His vast experience in this domain has helped us in taking our organization towards newer heights of 
	
acknowledgement.	
				</p>

			</div>
			<div class="wow fadeInDown">
				<h2> Why Us?</h2>

			<p>
				Our company is considered as one of the remarkable names of the market readily instrumental in presenting highly reliable goods to our 

				clienteles. All our goods are immensely recommended owing to their reliability, high quality and flawlessness. Additionally, our affordable 

				costs and delivery of products on time has earned us immense customer base and their contentment.


			</p>

			
			<ul>
				<h3> Other major factors behind our company’s success comprise: </h3>	
				<li>Reasonable rates</li>
				<li>On time shipment</li>
				<li>Clarity in deals</li>
				<li>Ethical business strategies</li>
				<li>Multiple payment options</li>
			</ul>

			</div>
			
			

		</div><!--/.container-->
    </section><!--/about-us-->
	
    

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Ultimo&trade;</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li ><a href="../">Home</a></li>
                        <li ><a href="../about/">About Us</a></li>
                        <li ><a href="../product/">Product</a></li>
                        
                        <li><a href="contact-us.html">Contact</a></li>                       
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    

    <script src="js/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>